<div class='classroom-wrapper'>
  <div class='classroom-card'>
    <div><%= link_to classroom.name, classroom_path(classroom), class: "#{classroom_status(classroom)}" %></div>
    <div class='tags_wrapper'>
      <div class='tag'>
        <%= classroom.length%> мин.
      </div>
      <div class='tag'>
        <%= classroom.schedule.map { |d| t('date.abbr_day_names')[d.to_i] }.join(" ") %>
      </div>
      <div class='tag'>
        <%= humanized_money_with_symbol classroom.wage %>
      </div>
    </div>
  </div>
  <div class='students-wrapper'>
    <div>
      <%= render "withdrawals/collection_form", classroom: %>
    </div>
  </div>
</div>
