<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "flex flex-col xl:col-span-2 gap-4 justify-center items-center", autocomplete: "off" }) do |f| %>
  <div class="header">m-tracker - регистрация</div>

  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="">
    <%= f.text_field :login, autofocus: true, autocomplete: "false", class: "text-field", placeholder: 'логин' %>
  </div>
  <div class="">
    <%= f.password_field :password, autocomplete: "new-password", class: "text-field", placeholder: '******' %>
  </div>
  <div class="">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-field", placeholder: '******' %>
  </div>
  <div  class="notification-card">
    <div>После завершения регистрации, дождитесь подтверждения своего аккаунта от администратора.</div>
  </div>
  <div>
    <%= f.submit "зарегистрироваться", class: "submit-button" %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>
