<div class='mx-auto flex flex-row gap-x-2 justify-between items-center bg-primary px-5 py-2 rounded-md text-text-dark semibold-text border-1 border-secondary w-full xl:max-w-1/4'>
  <%= link_to dashboard_path(date: date, move: :yesterday), class: 'cursor-pointer' do %>
    <%= render 'icons/arrow_left' %>
  <% end %>
  <div><%= date_dict(date) %></div>
  <%= link_to dashboard_path(date: date, move: :tomorrow), class: 'cursor-pointer' do %>
    <%= render 'icons/arrow_right' %>
  <% end %>
</div>
