<div class='date-pick-card'>
  <%= link_to dashboard_path(date: date, move: :yesterday), class: 'cursor-pointer' do %>
    <%= render 'icons/arrow_left' %>
  <% end %>
  <div><%= date_dict(date) %></div>
  <%= link_to dashboard_path(date: date, move: :tomorrow), class: 'cursor-pointer' do %>
    <%= render 'icons/arrow_right' %>
  <% end %>
</div>
