<div class='student-wrapper'>
  <div class="name"><%= student.name %>, </div>
  <% if action_name.eql? :classroom %>
    <%= link_to 'подробнее', student %>
    <div>остаток: <%= humanized_money_with_symbol @left_deposits[classrooms_students_id_from_classroom(classroom, student)] %></div>
    <input type="checkbox" class="checkbox">
  <% end %>
  <% if action_name.eql? 'show' %>
    <% @classrooms.each do |classroom| %>
      <div><%= classroom.name %></div>
      <div>остаток: <%= humanized_money_with_symbol @left_deposits[classrooms_students_id_from_classroom(classroom, student)] %></div>
      <div>последние оплаты:</div>
      <div class="deposits-wrapper">
        <%= render classroom.classrooms_students.where(student:).first.deposits.limit(4) %>
      </div>
      <div>последние списания:</div>
      <div class="withdrawals-wrapper">
        <%= render classroom.classrooms_students.where(student:).first.withdrawals %>
      </div>
      <%= link_to 'добавить оплату', new_deposit_path(student_id: student.id, classroom_id: classroom.id), class: 'add-deposit' %>
      <%= link_to 'списать', new_teacher_withdrawal_path(classroom.teacher, student_id: student.id, classroom_id: classroom.id), class: 'add-deposit' %>
    <% end %>
  <% end %>
</div>
