<%= form_with model: [teacher, withdrawal] do |form| %>
  <div class='new-edit-wrapper'>
    <%= form.text_field :amount, value: humanized_money(classrooms_student.classroom.wage), class: 'text-field', placeholder: 'сумма' %>
    <%= form.date_field :issued_at, value: Date.today, class: 'text-field'%>
    <%= form.hidden_field :classrooms_student_id, value: classrooms_student.id %>
    <%= form.submit 'Добавить' %>
  </div>
<% end %>
