<!DOCTYPE html>
<html>
  <head>
    <title>MalinkiTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "navbar", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="relative bg-gray-200 h-screen">
    <% if current_user %>
      <%= render 'navigation/navbar' %>
      <%= render 'navigation/floating_button' %>
    <% end %>
    <%= render 'elements/flash_error' %>
    <div class="main">
      <% unless controller_name.eql?('pages') or !current_user %>
        <%= render 'navigation/breadcrumbs' %>
      <% end %>
      <%= yield %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
